---
layout: page
title: "About"
description: "A dust in the world."
header-img: "img/about-bg.jpg"
multilingual: true
---

{% include multilingual-sel.html %}

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>


{% if site.gitment_comment %}
    <!-- gitment跟帖 评论框 start -->
    <div id="comments" class="comments col-lg-8 col-lg-offset-2 col-md-10 "></div>
    <!-- gitment跟帖 评论框 end -->
{% endif %}

{% if site.gitment_comment %}
<!-- gitment 公共JS代码 start (一个网页只需插入一次) -->
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var github_id = "Zolho"

    var client_id = "{{site.client_id}}"
    var client_secret = "{{site.client_secret}}"


    const gitment = new Gitment({
        id: "location.href", // optional
        owner: github_id,
        repo: 'ZolHo.github.io',
        oauth: {
            client_id: client_id,
            client_secret: client_secret,
        },
        // ...
        // For more available options, check out the documentation below
    })

    gitment.render('comments')
    // or
    // gitment.render(document.getElementById('comments'))
    // or
    // document.body.appendChild(gitment.render())
</script>
<!-- gitment 公共JS代码 end -->
{% endif %}
