---
layout: page
title: "About"
description: "A dust in the world."
header-img: "img/about-bg.jpg"
multilingual: true
---

{% include multilingual-sel.html %}

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div> -->


{% if site.gitment_comment %}
    <!-- gitment跟帖 评论框 start -->
    <div id="gitalk-container" class="gitalk-container col-lg-8 col-md-10 "></div>
    <!-- gitment跟帖 评论框 end -->
{% endif %}

{% if site.gitment_comment %}
<!-- gittalk 公共JS代码 start (一个网页只需插入一次) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var github_id = "Zolho"

    var client_id = "{{site.client_id}}"
    var client_secret = "{{site.client_secret}}"


    var gitalk = new Gitalk({
  clientID: client_id,
  clientSecret: client_secret,
  repo: 'zolho.github.io',
  owner: 'Zolho',
  admin: ['Zolho'],
  id: "about",      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('gitalk-container')
</script>
<!-- gitment 公共JS代码 end -->
{% endif %}
